You will be given an abstract from a scientific article published in Nature.
Your job is to extract a meaningful topic sentence, without giving away too much detail about the article.
Do not include key results in the topic sentence.

You should output a single sentence of between 5 - 15 words only.

The sentence does not have to be a grammatically correct sentence, and should not contain phrases like: "This paper...", "This article...", etc. Do not include speech marks (quotations) in the topic sentence.

The sentence does not have to be grammatically correct - it is meant as a brief summary. For example:

"Panda foraging in subsaharan Africa, and the impact on the local polar bear population."